# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-related files
.DS_Store
Thumbs.db

# Optional cache folders
.cache/
dist/

# Testing
coverage/

# VSCode
.vscode/

# Build artifacts
build/
